<html>
<head>
<meta charset="ISO-8859-1">
<title>Open Dized</title>
	<script src="lib/angular/angular.js"></script>

	<script src="js/controller.js"></script>
	<script src="config.json"></script>
	<!-- <script src="js/services.js"></script>
    <script src="js/Model.js"></script>
    <script src="js/Tools.js"></script> -->

</head>

<body ng-app="uneApp">
	<div ng-controller="uneFonctionCtrl" >

		<div ng-repeat="stage in stages">
			<h2>{{stage.title}}</h2>

			<div ng-repeat="row in stage.rows" ng-init="shwVdo = false">
				<span class="titre" >{{row.desc}}</span>
				<img src="pict/videoIcon.png" ng-click="goToVideo()" width="40px">
				<div ng-show="shwVdo">
					<video controls>
							<source src={{row.videoPath}} type="video/mp4">
							Your browser does not support the video tag.
					</video>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
